# Arquivo de variáveis de ambiente. Contém senhas e chaves secretas!
# NUNCA envie este arquivo para o repositório.
.env

# Arquivos de dependências do Composer
/vendor/

# Pasta com arquivos enviados pelos usuários (fotos, documentos, etc.)
/uploads/